:root {
    --max-width: 450px;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#div-email, #div-chat {
    display: none;
}

main {
    width: 94%;
    max-width: var(--max-width);
    height: 700px;
    margin: auto;
    /* border: 1px solid */
}

.top-email-chat {
    margin: 10px auto;
    /* border: 1px solid teal */
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    border-radius: 50px;
    background: #e9edf6;
}

.searchbar div {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    /* border: 1px solid brown; */
}

.searchbar img {
    margin: 5px 10px;
}

.searchbar .text {
    font-size: 18px;
}

#top {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-style: normal;
}

.pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background: #ccc; */
}

#chat-data {
    margin: auto;
    width: 100%;
    max-width: 450px;
    height: 500px;
    text-align: center;
    /* border: 1px solid teal */
}

#chat-top-opt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red */
}

#chat-data #unread {
    color: #00639c;
    width: 90px;
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
}

#chat-options {
    /* position: relative; */
    /* bottom: 55px; */
    width: 300px;
    height: 55px;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}

#chat-options #d1 {
    width: 240px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 10px #ddd;
    /* border: 1px solid teal; */
}

#chat-options #d1 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.chat-home {
    color: #00639c;
    background: #c3e7ff;
}

#d1 span {
    transition: 0.1s;
}

#chat-options #d2 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c3e7ff;
    background: #00639c;
    border-radius: 10px;
    /* border: 1px solid brown; */
}

#meeting {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

#meet, #join {
    display: flex;
    width: 170px;
    height: 40px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#meet {
    color: white;
    background: #1a73e8;
}

#join {
    color: #0b57d0;
    border: 1px solid #3c4043;
}

#data {
    display: flex;
    align-items: center;
    margin: auto;
    width: 85%;
    max-width: var(--max-width);
    height: 75%;
    min-height: 500px;
    max-height: 700px;
    text-align: center;
    /* border: 1px solid */
}

#link-img {
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


#dots {
   display: flex;
   margin: auto;
   width: 22px;
   justify-content: space-between;
   /* border: 1px solid */
}

#dots div {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: #ccc;
}

#dots div:first-child {
   background: #0b57d0;
}

footer {
    position: relative;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: var(--max-width);
    height: 45px;
    background: #e9edf6;
}

#f-in {
    width: 92%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid */
}

#meet:hover {
    transition: 0.5s;
    background: #0b57d0;
}

#join:hover {
    border: 1px solid #000;
}

#top .md-menu {
    font-size: 25px;
}

#f-in .mdf {
    /* font-size: 25px; */
}

#f-in .mdv {
    font-size: 30px;
}

.md-meet {
    background: #c3e7ff;
}

#f-in .mdi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 30px;
    border-radius: 20px;
    transition: 0.3s;
}

span {
    cursor: pointer;
}
